{% extends "reviews/base.html" %}

{% block title %}About - Noshlocal{% endblock %}

{% block content %}
	<div class="copy">
		<p>
			The purpose of this site is to help you figure out where to eat, or maybe even what to eat,
			and in an efficient manner. You'll have the ability to "like" restaurants, add reviews to 
			restaurants, and "like" reviews. Reviews are limited to 140 characters because we don't really
			need/want every single detail about your dining experience. You should be able to determine in
			minutes or less whether a restaurant is worth going to or not.
		</p>
		<p>
			The way reviews work here is pretty simple: your dining experience was either good, bad, or 
			somewhere in between. The ability to "like" a review is what's really going to power your recommendations. 
			Reviews with the most "likes" in each respective category will bubble up to the top. That's right, 
			you have the opportunity to be the voice of truth for any number of restaurants.
		</p>
		<p>
			If you like this site, please tell everyone you know about it. The more people use it, the more
			useful it becomes.
		</p>

		<p>
			Oh, and one more super important thing: <span style="font-weight:bold;">NO FRANCHISES ALLOWED!</span> 
			If you can get it anywhere, we don't want it here.
		</p> 
	</div>


{% endblock %}