{% extends "reviews/base.html" %}
{% block title %}Add Restaurant - Noshlocal{% endblock %}

{% block content %}
<div>
    <h1>Add Restaurant</h1>

    <form id="restaurant_form" method="post" action="/add_restaurant/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <ul>
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            <li><label>{{ field.label}}:</label> {{ field }}</li>
        {% endfor %}
        </ul>

        <input type="submit" name="submit" value="Create Restaurant" class="btn btn-primary"/>
        <a href="{% url 'reviews:index' %}" class="btn btn-default" role="button">Cancel</a>
    </form>
</div>
{% endblock %}