{% extends "reviews/base.html" %}
{% block title %}Add Review - {{ restaurant.restaurant_name }} - Noshlocal{% endblock %}

{% block content %}
<div id="review_container">
    <h1>Add review for {{ restaurant.restaurant_name }}</h1>

    <form id="review_form" method="post" action="/restaurant/{{restaurant.id}}/addreview/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <ul>
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            <li><label>{{ field.label}}:</label> {{ field }}</li>
        {% endfor %}
        </ul>

        <input type="submit" name="submit" value="Create Review" class="btn btn-primary"/>
        <a href="{% url 'reviews:restaurant' restaurant.id %}" class="btn btn-default" role="button">Cancel</a>
    </form>
</div>
{% endblock %}