<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'reviews/css/reviews.css' %}" />
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'reviews/img/apple-touch-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'reviews/img/apple-touch-icon-114x114.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'reviews/img/apple-touch-icon-144x144.png' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'reviews/img/apple-touch-icon-180x180.png' %}">
      <title>{% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Straightforward reviews to help you find a great local restaurant in the NY Capital Region" />
  </head>

  <body>
  	<div class="container-fluid">
  		{% include 'reviews/header.html' %}
      	{% block content %}{% endblock %}
        {% include 'reviews/footer.html' %}
  	</div>
  	
  	<script src="http://listjs.com/no-cdn/list.js"></script>
  	<script type="text/javascript" src="{% static 'reviews/js/jquery.cookie.js' %}"></script>
  	<script type="text/javascript" src="{% static 'reviews/js/reviews.js' %}"></script>
  	<script>
    if (document.location.hostname.search("noshlocal.com") !== -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66451068-1', 'auto');
      ga('send', 'pageview');
    }
    </script>
  </body>

</html>
