{% extends "reviews/base.html" %}

{% block title %}Contact - Noshlocal{% endblock %}

{% block content %}
	<div class="copy">
		<p>
			noshlocal.com is currently in public beta. We expect a few bugs may occur, but more importantly,
			this is the perfect time to voice your opinion on what you like or don't like about the site. If you
			have any suggestions/comments/questions/issues, please contact us via the form below.
		</p>
	</div>
	<div>
		<form id="contact-form" method="post">
			{% csrf_token %}
        	{% for hidden in form.hidden_fields %}
            	{{ hidden }}
        	{% endfor %}

        	<ul>
        	{% for field in form.visible_fields %}
            	{{ field.errors }}
            	{{ field.help_text }}
            	<li><label>{{ field.label}}:</label> {{ field }}</li>
        	{% endfor %}
        	</ul>

        	<input type="submit" name="Send" value="Send" class="btn btn-primary"/>
		</form>
	</div>

{% endblock %}