<div id="footer">
	<div class="container">
			<a href="{% url 'reviews:about' %}">About</a>
			<a href="{% url 'reviews:contact' %}">Contact</a>
		<div class="social">
			<div class="twitter">
				<a href="https://twitter.com/noshlocaldotcom" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @noshlocaldotcom</a>
			</div>
			<div class="fb-follow" data-href="https://www.facebook.com/noshlocal" data-layout="button" data-show-faces="false"></div>
		</div>
		</div>
	</div>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>