<div id="header">
	<div id="logo" class="nav-logo">
		<h1><a href="{% url 'reviews:index' %}" class="nosh-logo">noshlocal</a></h1><span>(beta!)</span>
	</div>
	<div id="login" class="nav-items">
	    {% if user.get_username %}
	    	<span><a href="{% url 'auth_logout' %}?next=/">Logout</a></span>
	    {% else %}
	    	<a href="{% url 'auth_login' %}?next={{ request.path }}">Login</a>
	    {% endif %}
	</div>
	<div>
		<h5>Straightforward reviews to help you find a great local restaurant.</h5>
	</div>
</div>