{% extends "reviews/base.html" %}

{% block title %}NY Capital Region Restaurant Reviews - Noshlocal{% endblock %}

{% block content %}
	{% if user.get_username %}
	<a href="{% url 'reviews:add_restaurant' %}" class="btn btn-primary">Add New Restaurant</a>
	{% endif %}
	
	<div id="restaurants">
		{% if restaurant_list %}
		<input class="search" placeholder="Filter by name or city" />
		<div class="clr"></div>	
		<ul class="list">
		    {% for restaurant in restaurant_list %}
		  	  {% include 'reviews/restaurant_listing_item.html' %}
		    {% endfor %}
		</ul>
		<div class="clr"></div>
		{% else %}
		    <p>No restaurants are available.</p>
		{% endif %}
	</div>

{% endblock %}