{% extends "reviews/base.html" %}

{% block title %}{{ restaurant.restaurant_name }} Reviews - Noshlocal{% endblock %}

{% block content %}
<div id="rest-container">
	<h2>{{ restaurant.restaurant_name }}</h2>
	<p>
		{{ restaurant.address }} {{ restaurant.city }} {{ restaurant.state }}
		<br>{{ restaurant.formatted_phone_number }}<br>
		<a href="{{ restaurant.website }}">{{ restaurant.website }}</a>
	</p>
</div>

<div class="actions">
{% if user.get_username %}
	<a href="{% url 'reviews:addreview' restaurant.id %}" class="btn btn-primary">Add review</a>
{% else %}
	<a href="{% url 'auth_login' %}?next={{ request.path }}">Login to add review</a>
{% endif %}
<a href="{% url 'reviews:index' %}" class="btn btn-default">Back</a>
</div>

{% include 'reviews/reviews.html' %}

{% endblock %}