<li>
	<div class="rest-item col-md-3">
		<a href="{% url 'reviews:restaurant' restaurant.id %}" class="rest-name">{{ restaurant.restaurant_name }}</a>
		<div class="rest-city">{{ restaurant.city}}</div>

		{% include 'reviews/restaurant_vote_item.html' %}
		
		<div class="review-totals">
			{% for id, totals in review_totals.iteritems %}
				{% if id == restaurant.id %}
					<span>Reviews: </span>
					<span class="glyphicon glyphicon-thumbs-up">{{totals.positive_count}}</span>
					<span class="glyphicon glyphicon-minus">{{totals.mediocre_count}}</span>
					<span class="glyphicon glyphicon-thumbs-down">{{totals.negative_count}}</span>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="clr"></div>
</li>