<div id="restaurants">
	{% if restaurant_list %}
	<input class="search" placeholder="Search" />
	<div class="clr"></div>
	<ul class="list">
	    {% for restaurant in restaurant_list %}
	  	  {% include 'reviews/restaurant_listing_item.html' %}
	    {% endfor %}
	</ul>
	{% else %}
	    <p>No restaurants are available.</p>
	{% endif %}
</div>