<div class="rest-voting">
	<span>Upvotes: {{ restaurant.upvotes }}</span>
	{% if user.get_username %}
	<div class="vote">
		<a href="#" onclick="favoriteRestaurant({{ restaurant.id }}, {{ user_votes }}, this)">
			{% if not restaurant.id in user_votes %}
				<span class="glyphicon glyphicon-star-empty"></span>
			{% else %}
				<span class="glyphicon glyphicon-star"></span>
			{% endif %}
		</a>
	</div>
	{% endif %}
</div>