<div class="voting">
	<span>Upvotes: {{ review.upvotes }}</span>
	{% if user.get_username %}
	<div class="vote">
		<a href="#" onclick="favoriteReview({{ review.id }}, {{ restaurant.id }}, this)">
			{% if not review.id in user_votes %}
				<span class="glyphicon glyphicon-star-empty"></span>
			{% else %}
				<span class="glyphicon glyphicon-star"></span>
			{% endif %}
		</a>
	</div>
	{% endif %}
</div>