<div class="reviews">

	<div id="positive" class="col-md-4">
		{% if positive_reviews %}
			<ul>
				{% for positive in positive_reviews %}
					<li>
						<div id="{{ positive.id }}">
							{{ positive.review_text }}</br>
							<div class="voting">
								<span>Upvotes: {{ positive.upvotes }}</span>
								{% if user.get_username %}
								<div class="vote">
									<a href="#" onclick="favoriteReview({{ positive.id }}, {{ restaurant.id }}, this)">
										{% if not positive.id in user_votes %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									</a>
								</div>
								{% endif %}
							</div>
							<div class="reviewer">
								<span>Author: {{ positive.created_by}}</span>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div id="mediocre" class="col-md-4">
		{% if mediocre_reviews %}
			<ul>
				{% for mediocre in mediocre_reviews %}
					<li>
						<div>
							{{ mediocre.review_text }}</br>
							<div class="voting">
								<span>Upvotes: {{ mediocre.upvotes }}</span>
								{% if user.get_username %}
								<div class="vote">
									<a href="#" onclick="favoriteReview({{ mediocre.id }}, {{ restaurant.id }}, this)">
										{% if not mediocre.id in user_votes %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									</a>
								</div>
								{% endif %}
							</div>
							<div class="reviewer">
								<span>Author: {{ mediocre.created_by}}</span>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div id="negative" class="col-md-4">
		{% if negative_reviews %}
			<ul>
				{% for negative in negative_reviews %}
					<li>
						<div>
							{{ negative.review_text }}</br>
							<div class="voting">
								<span>Upvotes: {{ negative.upvotes }}</span>
								{% if user.get_username %}
								<div class="vote">
									<a href="#" onclick="favoriteReview({{ negative.id }}, {{ restaurant.id }}, this)">
										{% if not negative.id in user_votes %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									</a>
								</div>
								{% endif %}
							</div>
							<div class="reviewer">
								<span>Author: {{ negative.created_by}}</span>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>	
	
	{% if not positive_reviews and not negative_reviews and not mediocre_reviews %}
	    <p>This restaurant does not have any reviews yet. Add one!</p>
	{% endif %}

	

</div>
