html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

#header {
	border-bottom: 2px solid #F6F6FB;
	margin-bottom: 10px;
}

#header div, h1 {
	display: inline-block;
	margin-bottom: 4px;
}

#header div > h5 {
	margin-top: 0;
	padding-left: 1em;
}

#login {
	float: right;
	margin: 10px 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  border-top: 2px solid #F6F6FB;
  text-align: center;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  padding-top: 14px;
}

#footer > div > a {
	margin-right: 10px;
}

h1.nosh-logo {
	text-decoration: none;
}

#logo > span {
	color: #337ab7;
	vertical-align: top;
	position: relative;
	top: 1.5em;
}

div.copy > p {
	font-size: 1.2em;
}

div.actions {
	margin-bottom: 10px;
}

div.actions > a {
	margin-right: 14px;
	font-size: 1.5em;
}

div.reviews {
	font-size: 1.5em;
}

div.reviews > div {
	padding-left: 0;
	margin-left:0;
}

div.reviews > div > ul {
	padding-left: 0;
	margin-left: 0;
}

div.reviews > div > ul > li,
form > ul > li {
	list-style: none;
	margin-bottom: 10px;
}

div.voting {
	line-height: 30px;
	padding-bottom: 2px;
}

div.reviewer {
	font-size: 0.5em;
}

form > ul > li {
	display: table;
}

form > ul > li > label {
	vertical-align: top;
	padding-right: 4px;
	display: table-cell;
	min-width: 80px;
}

form > input {
	margin-left: 38px;
}

.no-resize-text-area {
	resize: none;
}

.input-wide {
	width: 300px;
	display: inline-block;
}

#positive > ul > li {
	background-color: rgb(195, 242, 195);
}

#mediocre > ul >li {
	background-color: rgb(253, 253, 196);
}

#negative > ul > li {
	background-color: rgb(253, 181, 181);
}

div.vote {
	float: right;
	margin-right: 6px;
}

div.rest-item {
	background-color: honeydew;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 4.8em;
	width: 15em;
	font-size: 1.5em;
}

div.rest-city {
	font-size: .6em;
}

#restaurants {
	margin-top: 10px;
}

#restaurants > ul > li {
	list-style: none;
	float: left;
	display: inline;
}

#restaurants > ul {
	padding-left: 0;
	margin-left: 0;
	float: left;
}

div.clr {
	clear: both;
	font-size: 0;
}

input.search {
	margin-bottom: 10px;
	float: left;
}

div.rest-item > li {
	list-style: none;
	margin-bottom: 10px;
}

div.review-totals {
	font-size: 0.7em;
}

div.review-totals > span {
	width: 14%;
}

div.vote > a > span.glyphicon {
	font-size: 1.6em;
	top: -4px;
}

#rest-container {
	font-size: 1.2em;
}

div.social {
	margin-left: -10px;
	padding-top: 6px;
}

div.twitter {
	display: inline-block;
	margin-right: 10px;
}

div.fb-follow > span {
	vertical-align: inherit !important;
}
