{% extends "reviews/base.html" %}
{% block title %}Create Account - Noshlocal{% endblock %}


{% block content %}
<h1>Register Here</h1>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}